html, body {
    font-family: 'Quicksand', sans-serif !important;
}

:root {
    --background-primary: rgb(143, 116, 21);
    --text-primary: rgb(212, 172, 80);
    --background-navbar: #000000;
    --background: #000000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.header {
    position: fixed;
    height: 96px;
    padding: 0.8rem 0;
}

.navbar-custom {
    background-color: var(--background);
}

.nav-list li {
    margin: 0 0.5rem;
}

.nav-link {
    font-size: 1rem;
    color: #FFFFFF;
    background-color: transparent;
    text-transform: uppercase;
    display: block;
    padding: 1rem 0.6rem;
}


.nav-link:hover {
    color: var(--text-primary);
}

.nav-logo {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.nav-user {
    border: none;
    padding: 1rem 0.6rem !important;
}

.btn-booking {
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--text-primary) !important;
    border: var(--background-primary) 1px solid !important;
    padding: 8px 19px !important;
}

.btn-booking:hover {
    color: #FFFFFF !important;
    background-color: var(--background-primary);
    border: var(--background-primary);
}

.page-header {
    height: 240px;
    margin-top: 96px;
}
