html, body {
    font-family: 'Quicksand', sans-serif !important;
}

:root {
    --background-primary: #0066d9;
    --text-primary: #000000;
    --background-navbar: #ffffff;
    --background: #ffffff;
}

.text-primary {
    color: var(--text-primary) !important;
}

/*input::-webkit-outer-spin-button,*/
/*input::-webkit-inner-spin-button {*/
/*    -webkit-appearance: none;*/
/*    margin: 0;*/
/*}*/

/*!* Firefox *!*/
/*input[type=number] {*/
/*    -moz-appearance: textfield;*/
/*}*/

.header {
    position: fixed;
    height: 96px;
    padding: 0.8rem 0;
}

.thankyou {
    margin-top: 120px;
}

.navbar-custom {
    background-color: var(--background);
}

.nav-list li {
    margin: 0 0.5rem;
}

.nav-link {
    font-size: 1rem;
    color: #000000;
    background-color: transparent;
    text-transform: uppercase;
    display: block;
    min-width: 100px;
    text-align: center;
}


.nav-link:hover {
    color: var(--text-primary);
}

.nav-logo {
    width: 200px;
    object-fit: cover;
}

.nav-user {
    display: flex;
    align-items: center;
    border: none;
    padding: 1rem 0.6rem !important;
}

.dropdown-menu {
    position: absolute;
    transform: translate3d(44px, -18px, 0px) !important;
}

.btn-booking {
    text-transform: uppercase;
    font-size: 1rem;
    border: var(--background-primary) 1px solid !important;
    padding: 8px 19px !important;
}

.btn-booking:hover {
    color: #FFFFFF !important;
    background-color: var(--background-primary);
    border: var(--background-primary);
}

.page-header {
    height: 240px;
    margin-top: 96px;
}
#carouselExampleFade {
    margin-top: 112px;
}

.dropdown-menu {
    top: 56px !important;
    left: -30px !important;
}
